.wrapper {
    width: 36px;
    height: 36px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    border: 1.5px solid var(--color-border);
    border-radius: 50%;

    cursor: pointer;
    color: var(--color-text);
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
        background-color: var(--color-primary);
    }
}

.icon {
    width: 18px;
    height: 18px;
}