.wrapper{
    width: 46px;
    height: 46px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid var(--color-border);

    p {
        font-size: 12px;
        font-weight: 800;
    }
}