.wrapper{
    width: 35px;
    height: 35px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--color-border);
    border-radius: 20px;

    p {
        font-size: 25px;
    }
}