.wrapAll{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.appWrapper {
    /* width: 100%; */
    /* min-height: 100%;
    max-height: 100%; */
    flex: 1;
    
    margin: 0px 20px;
}