* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #F8DAB2;
  --color-secondary: #D2D2D2;
  --color-bg: #EEEBE4;
  --color-surface: #9F6D2D;
  --color-text: #624621;
  --color-text-muted: #8C7D6B;
  --color-text-h: #414141;
  --color-text-h-muted: #F8DAB2;
  --color-border: #624621;
  --color-error: red;
  --color-success: green;

  --text-art: "Nunito Sans", sans-serif;
  --text-heading: "Great Vibes", cursive;

  background: var(--color-bg);
  color: var(--color-text);

  font-family: var(--text-art);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[color-theme="dark"] {
  --color-primary: #7E7254;
  --color-secondary: #13100B;
  --color-bg: #50493E;
  --color-surface: #CDB586;
  --color-text: #F5D2A5;
  --color-text-muted: #D3C9B8;
  --color-text-h: #c2c1c1;
  --color-text-h-muted: #7E7254;
  --color-border: #F5D2A5;
  --color-error: red;
  --color-success: green;
}

h1,
h2 {
  color: var(--color-text-h);
  font-family: var(--text-heading);
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 56px;
  letter-spacing: 0px;
  @media (max-width: 1024px) {
    font-size: 40px;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  /* letter-spacing: -0.24px; */
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}
a {
  text-decoration-line: none;
  color: var(--color-text)
}