.wrapper {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;

    overflow-wrap: break-word;

    .msgWrap {
        max-width: 80%;
        padding: 10px 14px;

        border-radius: 18px;
        border-bottom-left-radius: 4px;

        font-size: 15px;
        line-height: 1.45;
        word-break: break-word;

        color: var(--color-text);
        background-color: var(--color-primary);
        box-shadow: 0 1px 4px rgba(0,0,0,0.07);
    }
}