.wrapper{
    width: 100%;
    min-height: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;

    overflow-x: hidden;
    overflow-wrap: break-word;
    

    /* background-color: red; */

    .msgWrap {
        max-width: 80%;
        min-height: 100%;
        padding: 10px;

        border-radius: 15px;
        border-bottom-right-radius: 5px;

        color: var(--color-text-h-muted);
        background-color: var(--color-surface);
    }
}